* {
  margin: 0;
  padding: 0;
}

.contenedor-general {
  width: 100%;
  height: 100vh;
}
.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-paises {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card-pais {
  border: 1px solid black;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  width: 50%;
  height: 50%;
  background-color: gray;
}
