* {
  margin: 0;
  padding: 0;
}

.contenedor-general {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.input-agregar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.lista-tareas {
  background-color: cadetblue;
}

.item {
  color: crimson;
}
