*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}

.contenedor-general{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    align-items: center;
    border: 1px solid blue;

}

.article-universidad, .article-datos{
      display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  text-align: center;      /* centra el texto */
  height: 100%;
  border: 1px solid pink;
  
}



footer{
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}

.botones{
    padding: 10px;
   
}

.celeste{
    background-color: aqua;
}

.violeta{
    background-color: blueviolet;
}

.naranja{
    background-color: orange;

}

.reestablecer{
    background-color: gray;
}

button{
    border: none;
    padding: 0.3em;
    border-radius: 10%;
    
}