* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: chocolate;
  margin-bottom: 0.5em;
}
.nav_bar {
  padding: 1em;
}

.contenedor_general {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu_recetas {
  padding: 0.5em;
}

.detalle_recetas {
  border: 1px solid violet;
  border-radius: 0.5em;
  padding: 0.5em;
}

@media (max-width: 37.5em) {
  /* equivale a 600px, 1em=16px */
  .contenedor_general {
    width: 95vw; /* un poco más ancho para pantallas chicas */
    height: auto; /* altura libre para que no corte contenido */
  }

  .menu_recetas,
  .detalle_recetas {
    padding: 0.5em;
  }

  .nav_bar h1 {
    font-size: 1.5rem;
  }
}
